.main {
  min-height: 80vh;
  padding: 40px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.text-red {
  color: #dc3545;
}
.backlog-item {
  display: flex;
  margin-bottom: 10px;
}
.backlog-item-label {
  margin-right: 10px;
}
.backlog-link {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  color: #0076ba;
  &:hover {
    text-decoration: underline;
  }
}
.list {
  margin: 0;
  li {
    margin-bottom: 5px;
  }
}
