.com-textarea {
  margin-bottom: 5px;
  textarea {
    display: block;
    width: 100%;
    border-radius: 2px;
  }
}
.blue {
  textarea {
    border: 3px solid #00a2ff;
  }
}
.gray {
  textarea {
    border: 3px solid #929292;
  }
}
